# ========== Python ==========
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/

# Ignore user uploaded files
backend/uploads/

# ========== Build / Dist ==========
dist/
build/

# ========== Editor ==========
.vscode/
.idea/

# ========== OS Specific ==========
.DS_Store
Thumbs.db

# ========== Docker ==========
*.pid
