# ========== Python ==========
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/

# ========== Upload & Output ==========
uploads/
*.log
*.tmp
*.csv
*.json

# ========== Build / Dist ==========
dist/
build/

# ========== Editor ==========
.vscode/
.idea/

# ========== OS Specific ==========
.DS_Store
Thumbs.db

# ========== Docker ==========
*.pid
